@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap");
/* Variables */
/* Global */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Animations */
@-webkit-keyframes arrow_bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7.5px);
            transform: translateY(-7.5px);
  }
}
@keyframes arrow_bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7.5px);
            transform: translateY(-7.5px);
  }
}

.container, section.hire_reasons .reasons-box, section.hire_reasons .reasons-box .reason, section.hire_reasons .reasons-box .reason .reason-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center, section.estimation .estimation_callToAction, section.services .services-box .service-item .service-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  padding: 10px 15px;
  border-radius: .25rem;
}

.btn-primary {
  color: white;
  background-color: #FF5733;
}

.btn-zoom {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-zoom:hover, .btn-zoom:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header_portfolio.jpg");
  background-size: cover;
  padding: 1rem;
  color: #D3D3D3;
}

header .profil_pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 20px #404040;
          box-shadow: 1px 1px 20px #404040;
}

header .presentation {
  text-align: center;
}

header .presentation h1 {
  margin: .5rem 0;
}

header .presentation p {
  font-size: 1.3rem;
}

header .btn {
  margin: 2rem 0;
}

header .social_icons {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .social_icons .social_link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .social_icons .social_link:hover, header .social_icons .social_link:focus {
  color: white;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

header .arrow_down {
  margin-top: 2rem;
  font-size: 2.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: arrow_bounce 2s infinite;
          animation: arrow_bounce 2s infinite;
}

header .arrow_down:hover, header .arrow_down:focus {
  color: white;
}

section.estimation {
  background-color: #D3D3D3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

section.estimation .estimation_text {
  width: 70%;
  margin: 10px;
}

section.estimation .estimation_text h2 {
  font-size: x-large;
  font-family: "Montserrat", sans-serif;
}

section.estimation .estimation_text p {
  text-align: justify;
}

section.estimation .estimation_callToAction {
  width: 30%;
}

h2.title {
  font-family: "Montserrat", sans-serif;
  text-align: right;
  margin-bottom: 3rem;
  font-size: x-large;
}

section.services {
  padding: 4rem;
  width: 100%;
}

section.services .services-box {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

section.services .services-box .service-item {
  position: relative;
  padding: 1rem;
  background-color: rgba(211, 211, 211, 0.3);
  min-height: 250px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

section.services .services-box .service-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 20px 10px lightgrey;
          box-shadow: 0 0 20px 10px lightgrey;
}

section.services .services-box .service-item .service-logo {
  color: #FF5733;
  width: 100%;
  font-size: 2rem;
  margin: 2rem 0;
}

section.services .services-box .service-item h3.service-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

section.services .services-box .service-item .service-text {
  font-size: small;
  text-align: justify;
}

section.hire_reasons {
  width: 100%;
  padding: 4rem;
}

section.hire_reasons .reasons-box {
  width: 40%;
  margin: 3rem auto;
}

section.hire_reasons .reasons-box .reason {
  margin-top: 3rem;
}

section.hire_reasons .reasons-box .reason .reason-icon {
  font-size: 5rem;
  color: #FF5733;
}

section.hire_reasons .reasons-box .reason .reason-title {
  margin: 2rem 0;
  text-align: center;
}

section.hire_reasons .reasons-box .reason .reason-text {
  text-align: justify;
}

section.hire_reasons .reasons-box .reason-arrow {
  position: relative;
  display: block;
  width: 5px;
  height: 100px;
  margin-top: 1.5rem;
  background-color: #D3D3D3;
}

section.hire_reasons .reasons-box .reason-arrow::before {
  content: "";
  position: absolute;
  left: -13px;
  bottom: -23px;
  border: 1rem solid transparent;
  border-top-color: #D3D3D3;
}

@media (max-width: 950px) {
  section.services .services-box {
    width: 100%;
  }
  section.hire_reasons .reasons-box {
    width: 50%;
  }
}

@media (max-width: 850px) {
  section.services .services-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  section.hire_reasons .reasons-box {
    width: 60%;
  }
}

@media (max-width: 600px) {
  header .social_icons {
    width: 75%;
  }
  section.estimation {
    display: block;
  }
  section.estimation .estimation_text, section.estimation .estimation_callToAction {
    width: 100%;
  }
  section.estimation .estimation_text h2 {
    text-align: center;
  }
  section.estimation .estimation_text p {
    margin: 1rem 0;
  }
  section.services .services-box {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  section.hire_reasons .reasons-box {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */