@media (max-width: 950px){
  section.services .services-box{
    width: 100%;
  }
  section.hire_reasons .reasons-box{
    width: 50%;
  }
}

@media (max-width: 850px){
  section.services .services-box{
    grid-template-columns: repeat(2, 1fr);
  }
  section.hire_reasons .reasons-box{
    width: 60%;
  }
  .contact-form{
    flex-direction: column;
  }
  .contact-basic, .contact-main {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 600px){
  header{
    height: fit-content;
    padding-bottom: 2rem;
  }
  .arrow_down{
    display: none;
  }
  header .presentation h1{
    font-size: x-large;
  }
  header .presentation p{
    font-size: medium;
  }
  header .social_icons{
    width: 75%;
  }
  section.estimation{
    display: block;
    .estimation_text, .estimation_callToAction{
      width: 100%;
    }
    .estimation_text{
      h2{
        text-align: center;
      }
      p{
        margin: 1rem 0;
      }
    }
  }
  section.services, section.hire_reasons, section.contact{
    padding: 2rem;
  }
  section.services .services-box{
    grid-template-columns: repeat(1, 1fr);
  }
  section.hire_reasons .reasons-box{
    width: 100%;
  }
}