@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap');
@import "./scss/config.scss";
@import "./scss/autowriting.scss";
@import "./scss/button.scss";


body{
  display: flex;
}

.hamburger_btn{
  cursor: pointer;
  z-index: 1;
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: x-large;
  color: $secondary;
  transition: .3s;
}

nav{
  position: fixed;
  top: 0;
  width: 0%;
  height: 100vh;
  background-color: #222;
  transition: .3s;
  overflow: hidden;
}

main{
  width: 100%;
  height: 100%;
  transition: .3s;
}

header{
  width: 100%;
  height: 100vh;
  background-image: url("../img/header_portfolio.jpg");
  background-size: cover;
  padding: 1rem;
  color: $secondary;

  .profil_pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px lighten(black, 25%);
  } 

  .presentation{
    text-align: center;

    h1{
      margin: .5rem 0;
    }
    p{
      font-size: 1.3rem;
    }
  }

  .btn{
    margin: 2rem 0;
  }

  .social_icons{
    font-size: 1.8rem;
    display: flex;
    width: 25%;
    justify-content: space-evenly;

    .social_link{
      transition: 0.3s;
    }
    .social_link:hover, .social_link:focus{
      color: white;
      transform: translateY(-5px);
    }
  }

  .arrow_down{
    margin-top: 2rem;
    font-size: 2.5rem;
    transition: 0.3s;
    animation: arrow_bounce 2s infinite;
  }
  .arrow_down:hover, .arrow_down:focus{
    color: white;
  }
}
section.estimation{
  background-color: $secondary;
  display: flex;
  padding: 2rem;

  .estimation_text{
    width: 70%;
    margin: 10px;
    h2{
      font-size: $fs-title;
      font-family: $ff-secondary;
      margin-bottom: .3rem;
    }
    p{
      text-align: justify;
    }
  }
  .estimation_callToAction{
    @extend .center;
    width: 30%;
  }
}
h2.title{
  font-family: $ff-secondary;
  text-align: right;
  margin-bottom: 3rem;
  font-size: $fs-title;
}
section.services{
  padding: $section-padding;
  width: 100%;

  .services-box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    .service-item{
      position: relative;
      padding: 1rem;
      background-color: rgba($secondary, .3);
      min-height: 250px;
      cursor: pointer;
      background-size: cover;
      background-position: center center;
      transform: scale(1);
      transition: .3s;

      &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 20px 10px lightgrey;
      }

      .service-logo{
        color: $primary;
        width: 100%;
        @extend .center;
        font-size: 2rem;
        margin: 2rem 0;
      }
      h3.service-title{
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
      }
      .service-text{
        font-size: small;
        text-align: justify;
      }
    }
  }
}

.fade{
  transform: translateY(150px);
  opacity: 0;
  transition: 2s;
}
.faded{
  transform: translateY(0);
  opacity: 1;
}

section.hire_reasons{
  width: 100%;
  padding: $section-padding;

  .reasons-box{
    width: 40%;
    margin: 3rem auto;
    @extend .container;

    .reason{
      margin-top: 3rem;
      @extend .container;

      .reason-icon{
        @extend .container;
        font-size: 5rem;
        color: $primary;
      }
      .reason-title{
        width: 75%;
        margin: 2rem 0;
        text-align: center;
      }
      .reason-text{
        text-align: justify;
      }
    }

    .reason-arrow{
      position: relative;
      display: block;
      width: 5px;
      height: 100px;
      margin-top: 1.5rem;
      background-color: $secondary;

      &::before{
        content: "";
        position: absolute;
        left: -13px;
        bottom: -23px;
        border: 1rem solid transparent;
        border-top-color: $secondary;
      }
    }
  }
}


@import "./scss/responsive.scss"
