@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap');
@import "./config.scss";


.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  padding: 10px 15px;
  border-radius: .25rem;
}
.btn-primary{
  color: white;
  background-color: $primary;
}
.btn-zoom{
  transition: 0.3s;
}
.btn-zoom:hover, .btn-zoom:focus{
  transform: scale(1.15);
}
header{
  width: 100%;
  height: 100vh;
  background-image: url("../img/header_portfolio.jpg");
  background-size: cover;
  padding: 1rem;
  color: #D3D3D3;

  .profil_pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px lighten(black, 25%);
  } 

  .presentation{
    text-align: center;

    h1{
      margin: .5rem 0;
    }
    p{
      font-size: 1.3rem;
    }
  }

  .btn{
    margin: 2rem 0;
  }

  .social_icons{
    font-size: 1.8rem;
    display: flex;
    width: 25%;
    justify-content: space-evenly;

    .social_link{
      transition: 0.3s;
    }
    .social_link:hover, .social_link:focus{
      color: white;
      transform: translateY(-5px);
    }
  }

  .arrow_down{
    margin-top: 2rem;
    font-size: 2.5rem;
    transition: 0.3s;
    animation: arrow_bounce 2s infinite;
  }
  .arrow_down:hover, .arrow_down:focus{
    color: white;
  }
}
section.estimation{
  background-color: $secondary;
  display: flex;
  padding: 2rem;

  .estimation_text{
    width: 70%;
    margin: 10px;
    h2{
      font-size: $fs-title;
      font-family: $ff-secondary;
    }
    p{
      text-align: justify;
    }
  }
  .estimation_callToAction{
    @extend .center;
    width: 30%;
  }
}
h2.title{
  font-family: $ff-secondary;
  text-align: right;
  margin-bottom: 3rem;
  font-size: $fs-title;
}
section.services{
  padding: $section-padding;
  width: 100%;

  .services-box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    .service-item{
      position: relative;
      padding: 1rem;
      background-color: rgba($secondary, .3);
      min-height: 250px;
      cursor: pointer;
      background-size: cover;
      background-position: center center;
      transform: scale(1);
      transition: .3s;

      &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 20px 10px lightgrey;
      }

      .service-logo{
        color: $primary;
        width: 100%;
        @extend .center;
        font-size: 2rem;
        margin: 2rem 0;
      }
      .service-title{
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
      }
      .service-text{
        font-size: small;
        text-align: justify;
      }
    }
  }
}

section.timeline{
  width: 100%;
  padding: $section-padding;
  
  .timeline_container{
    width: 100%;
    @extend .container;

    .line{
      width: 0px;
      height: 200px;
      // background-color: #000;
      box-shadow: 0 0 3px 2px $secondary;
    }
  }
}


@import "./responsive.scss"
